/*
Java.css
Java Sugar

Created by Patrick Perini.
Copyright 2011-2012 Patrick Perini. All rights reserved.
*/

/*
	@theme Java
	@placeholder java
*/

comment.block.java {
	color:  #3f7f5f;
}

comment.begin.java {
	color:  #3f7f5f;
}

comment.end.java {
	color:  #3f7f5f;
}

comment.line.java {
	color:  #3f7f5f;
}

comment.doc.java {
	color:  #88a5c3;
	font-weight: bold;
}

imports.control.java {
    color:  #000000;
}

method.control.java {
    color:  #000000;
}

keywords.control.java {
	color:  #87105f;
	font-weight: bold;
}

storage.type.java {
	color:  #87105f;
	font-weight: bold;
}

storage.type.modifier.java {
	color:  #5A0DAC;
}

constants.numeric.java {
	color:  #000000;
}

constants.booleans.java {
	color:  #87105f;
	font-weight: bold;
}

constants.null.java {
	color:  #87105f;
	font-weight: bold;
}

constants.string.java {
	color:  #0000c7;
}

constants.string.begin.java {
	color:  #0000c7;
}

constants.string.end.java {
	color:  #0000c7;
}

constants.char.java {
	color:  #0000c7;
}